.figma-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: rgba(255,255,255,13%);
}
.figma-logo{
    display: flex;
    align-items: center;
}
.figma-title{
    margin: 0px 0px 0px 5px;
    
}