.sidebar{
    position: relative;
    transition: .5s all ease;
    &.active{
        filter: blur(20px);
    }
    &__time{
        font-size: 16px;
        color: #fff;
        margin: 0px 0px 5px 0px;
    }
    &__container{
        padding: 0px 14px 0px 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 44px;
    }
    &__notch{
        position: relative;
        top: -6px;
    }
}
.nav {
    &__list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin: 0px 5px 0px 0px;
    }
}